body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* 전체 구도 */
#wrap {
    text-align: center;
}
#wrap-center {
    display: inline-block;
    width: 400px;
    min-height: 300px;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 6px;
}

/* 로그인 실패 */
#login-failed-msg-div {
    padding: 0;
    margin-bottom: 3px;
}

#login-failed-msg {
    color: red;
}

/* 아이디 입력, 비밀번호 입력 */
#input-id, #input-pwd {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-id input, #input-pwd input {
    width: 330px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    outline: none;
}

#input-id input {
    border: 1px solid lightgray;
    border-radius: 6px 6px 0 0;
    margin-bottom: 1px;
}

#input-pwd input {
    border: 1px solid lightgray;
    border-radius: 0 0 6px 6px;
}

#input-id input:focus, #input-pwd input:focus {
    outline: 1px solid #6C7A89;
}

/* 아이디 기억 */
#input-remember-id {
    display: flex;
    justify-content: start;
    position: relative;
    top: 10px;
}

#input-remember-id label {
    font-size: 17px;
    padding-left: 5px;
}

#input-remember-id input {
    margin-left: 33px;
}

/* 버튼(로그인) */
#input-button {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 20px;
}

#input-button button {
    width: 340px;
    height: 50px;
    background-color: #354649;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

#title {
	font-family: 'Asap', sans-serif;
	color: #354649;
	font-size: 40px;
    position: relative;
    top: 110px;
}

/* 링크들 */
#links {
    text-align: center;
    margin-top: 20px;
    position: relative;
    left: -10px;
}

#links a {
	margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-size: 17px;
}

#links a:last-child {
	margin-bottom: 10px;
}

#links a:hover {
    color: #354649;
}






















