html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 구도 */
#mypost-wrap {
    text-align: center;
}
#mypost-wrap-center {
    display: inline-block;
    width: 1280px;
    height: 700px;
}

/* 마이페이지 설명, 정보 */
#mypost-info {
    text-align: left;
}

#mypost-userinfo {
    text-align: left;
    display: flex;
    align-items: center;
}

#mypost-userinfo h1 {
	margin: 0;
}

/* 마이페이지 네비게이션 */
#mypost-nav {
    display: flex;
    align-items: center;
}

#mypost-nav ul {
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    left: -39px;
}

#mypost-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#mypost-nav hr {
    width: 45px;
    height: 2px;
    border: none;
    background-color: rgb(255, 122, 89);
    position: relative;
    left: -755px;
    top: 15px;
}

#mypost-delete-user {
    position: relative;
    left: 830px;
}

#mypost-delete-user {
    color: red !important;
}

/* 게시판 설명 */
#mypost-info {
    text-align: left;
}

/* 게시판 */
#mypost-board {
    width: 1280px;
    min-height: 100px;
}

#mypost-board-table {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    width: 100%;
}

#mypost-first-tr {
    border-top: 2px solid rgb(61, 61, 61);
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 47px;
    background-color: rgb(255, 122, 89);
    color: white;
}

tr {
    border: 1px solid rgb(165, 165, 165);
    border-top: none;
    border-left: none;
    border-right: none;
    height: 35px;
}

tr:hover {
  background: lightgray;
}

td a {
	text-decoration: none;
	color: black;
}

td a:hover {
    text-decoration: underline;
    cursor: pointer;
}

th:nth-child(1) {
    width: 8%;
}

th:nth-child(2) {
    width: 60%;
}

td:nth-child(2) {
    text-align: left;
}

/* 페이지네이션 */
#mypost-pagenation {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#mypost-pagenation ul {
    width: 350px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

#mypost-pagenation ul li a {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: black;
}

/* 페이지네이션 active 시 빨갛게 변함 */
.active {
    border: 1px solid lightgray !important;
    color: red !important;
    text-decoration: underline !important;
}