body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* 전체 구도 */
#wrap {
    text-align: center;
}
#wrap-center {
    display: inline-block;
    width: 470px;
    min-height: 522px;
    margin-top: 150px;
    border: 1px solid black;
}

/* 아이디 중복체크 */
#duplicate-id-check-div {
    margin: 0;
    padding: 0;
    text-align: left;
}

#duplicate-id-check {
    color: red;
    position: relative;
    left: 133px;
}

.checked {
    color: rgb(88, 62, 236) !important;
}

/* 비밀번호 유효성 검사 */
#pwd-div {
	margin: 0;
	padding: 0;
	text-align: left;
}

#pwd-msg {
	color: red;
	position: relative;
    left: 132px;
}

/* 비밀번호 확인 */
#pwd-check-div {
	margin: 0;
    padding: 0;
    text-align: left;
}

#pwd-check-msg {
	color: red;
	position: relative;
    left: 132px;
}



/* 아이디, 비밀번호, 비밀번호 확인, 이메일 */
#input-id, #input-pwd, #input-pwd-check, #input-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

/* 이메일, 비밀번호만 따로 조정(간격 조절) */
#input-email {
    padding-bottom: 5px;
}

#input-pwd {
    padding-top: 0px;
}

/* input, label 조절 */

#input-id label, #input-pwd label, #input-pwd-check label,
#input-email label {
    flex-basis: 30%;
    font-size: 20px;
}

#input-id input, #input-pwd input,
#input-pwd-check input, #input-email input {
    flex-basis: 70%;
    width: 250px;
    height: 30px;
    margin-right: 20px;
    font-size: 17px;
}

/* 이메일 입력 정보 */
#email-info {
    display: flex;
    justify-content: start;
    text-align: left;
}

#email-info span {
    padding-left: 40px;
    color: gray;
}

/* 버튼(회원가입) */
#input-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#input-button button {
    flex-basis: 92%;
    height: 40px;
    background-color: rgb(88, 62, 236);
    font-size: 20px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    border: none;
}

/* 링크들 */
#login-link-div {
    text-align: left;
    margin-top: 10px;
    margin-left: 160px;
    margin-bottom: 20px;
}

#login-link-div a {
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-size: 17px;
}

#login-link-div a:hover {
    color: rgb(88, 62, 236);
}